<!-- navbar  -->

<!-- focusValue and searchReqeust are navbar properties -->
<!-- focusValue = true means search bar in navbar is set to focus -->
<!-- searchRequest takes the value of selected option (title, author) in sidebar Search option -->

<front-end-internship-assignment-navbar [focusValue]="focus" [searchRequest]="searchRequest"></front-end-internship-assignment-navbar>
<br>

<!-- sidebar and router outlet for child components of home components wrapped with bootstrap-wrapper -->

<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">

        <!-- focusValue and searchRequest are custom events of sidebar Search options.  -->
        <!-- focusValue triggers focus event of search bar in navbar componenet. -->
        <!-- searchRequest event takes the value of selected option in sidebar -->

        <front-end-internship-assignment-sidebar (focusValue)="focusValue($event)" (seachRequest)="request($event)"></front-end-internship-assignment-sidebar>
      </div>
      <div class="col-md-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
